@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Figtree", sans-serif;
  background-color: rgba(255, 228, 196, 0.507);
}

@media screen and (min-width: 768px) {
  .carousel-item {
    width: 50%;
  }
}
